<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="knowgreentech.tumsenahopayga" android:installLocation="auto" android:versionCode="2" android:versionName="Beta">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="TumseNaHoPayga" android:icon="@drawable/icon"></application>
</manifest>